@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.gradient-bg {
  background: linear-gradient(45deg, rgba(0, 0, 0, 255), rgba(0, 0, 0, 0), rgba(0, 0, 0, 255)) no-repeat border-box, linear-gradient(to right, #387ab7 10%, #184168 50%, #387ab7 90%) no-repeat border-box;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.container {
  width: 40px;
  height: 40px;
  perspective: 500px;
  /* margin: 100px; */
}

.cube {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  /* transform: rotate3d(1, 1, 0, 45deg); */
  transform: rotateX(-35deg) rotateY(45deg)
}

.face {
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.front {
  transform: translateZ(20px);
  background: #387ab7;
}

.back {
  transform: translateZ(-20px) rotateY(180deg);
  background: #387ab7;
}

.left {
  transform: translateX(-20px) rotateY(-90deg);
  background-color: #c4f2ef;
}

.right {
  transform: translateX(20px) rotateY(90deg);
  background-color: #c4f2ef;
}

.top {
  transform: translateY(-20px) rotateX(90deg);
  background-color: #7dcfe2;
}

.bottom {
  transform: translateY(20px) rotateX(-90deg);
  background-color: #7dcfe2;
}